html, body {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: .1em;
  line-height: 1.4em;
}

.app-container {
  margin:10px auto;
  width:40%;
  text-align:center;
}

.header {
  width:80%;
  margin:0 auto;
  text-align:center;
}

#new-game {
  margin:10px;
  border: 1px solid #DEDEDF;
  border-radius:5px;
  width:10em;
  height:3em;
  font-weight:bold;
}

#bejeweled {
  width:100%;
  text-align:center;
}

.cell {
  position:relative;
  display:inline-block;
  margin:.15em;
  width:10.5%;
  height:3%;
  text-align:center;
  padding-top:30px;
  border-radius:.3em;
}